{% extends "layout.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        
        <div class="col-md-12">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-header">Supplements Lists</div>

                <div class="card-body">
                     {% if messages %}
                    <ul class="messages">
                        {% for msg in messages %}
                        <li>
                            <div class="alert alert-{{msg.level_tag}}" role="alert">
                            {{msg.message}}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="dt_colVis_buttons"></div>
            <table id="datatable" class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Goal name</th>
                    <th>Name</th>
                    <th>Day Time</th>
                    <th>Manage</th>
                    
                </tr>
                </thead>

               <tbody>
                  {% for f in table %}
                    <tr>
                         <td>{{f.id}}</td>
                         <td>{{f.goal_id.g_name}}</td>
                        <td>{{ f.name }}</td>
                        <td>{% if f.day_time == 0 %}
                            Breakfast
                            {% elif f.day_time == 1 %}
                            Lunch
                            {% elif f.day_time == 2 %}
                            Pre-Workout
                            {% elif f.day_time == 3 %}
                            Post-Workout
                            {% elif f.day_time == 5 %}
                            Intra-Workout
                            {% else %}
                            Dinner
                        {% endif %} </td>

                        <td><a href="/supplements/delete/{{f.id}}">Delete</a><br>
                          <a href="/supplements/update/{{f.id}}">Edit</a></td>

                     </tr>
                  {% endfor %}




               </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
 $(document).ready( function () {
    $('#datatable').DataTable();
} );
</script>

{% endblock %}

